.App {
  text-align: center;
  font-family: "Ubuntu", sans-serif;

  width: 100%;
  max-width: 840px;

  display: block;
  margin: 0 auto;
  padding: 25px;
}

.App-header {
}

.main {
  border: 13px solid #0046be;
  font-family: "Ubuntu", sans-serif;
  padding-top: 45px;
  padding-bottom: 45px;
  padding-left: 20px;
  text-transform: lowercase;
  text-align: left;
}
.main{
  padding-top: 30px;
}
.input {

  height: 51px;
  padding: 0 47px 0 15px;
  margin: 0;
  border: 6px solid #0e5ab6;
  box-shadow: none;
  border-radius: 0;
  font-size: 16px;
  color: #767676;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
