.App {
  text-align: center;
  font-family: "Ubuntu", sans-serif;

  width: 100%;
  max-width: 840px;

  display: block;
  margin: 0 auto;
  padding: 25px;
}

.App-header {
  border: 13px solid #0046be;
  font-family: "Ubuntu", sans-serif;
  padding-top: 45px;
  padding-left: 2px;
  text-transform: lowercase;
}
h1 {
  font-size: 82px;
  font-weight: 700;
  color: #0046be;
  line-height: 1.2;
  text-align: left;
}
