.dictionary {
  font-family: "Ubuntu", sans-serif;
  margin-top: 50px;
}

input {
  width: 98%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid lightslategrey;
  outline: none;
  font-family: "Ubuntu", sans-serif;
  color: rgb(75, 151, 221);
  font-size: 25px;
}
