.dictionary {
  font-family: "Ubuntu", sans-serif;
}

h1 {
  font-size: 82px;
  font-weight: 700;
  color: #0046be;
  line-height: 1.2;
}
.searchForm {
  padding-top: 20px;
}

input[type="text"] {
  width: 98%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid lightslategrey;
  outline: none;
  font-family: "Ubuntu", sans-serif;
  color: lightslategray;
  font-size: 25px;
}

